@import url("https://fonts.googleapis.com/css2?family=Angkor&display=swap");

body {
  margin: 0;
  font-family: "Angkor", cursive;
  display: grid;
  gap: 1.5rem;
  background: #333;
}

.site-header {
  background-image: url("./images/mountain-with-stars.jpg");
  background-position: bottom;
  background-size: cover;
  padding: 5rem;
  min-height: 80vh;
  position: relative;
}

.site-header-mask {
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 0.5);

  -webkit-mask: url(./images/mountain-mask.svg);
  -webkit-mask-position: center bottom;
  -webkit-mask-size: 100%;

  mask: url(./images/mountain-mask.svg);
  mask-position: bottom;
  mask-size: cover;
}

.site-title {
  text-align: center;
  font-size: clamp(4rem, 1vw + 0.5rem, 9rem);
  font-size: 400;
  text-transform: uppercase;
  color: #fff;
  position: fixed;
  width: 100%;
}

.container {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}
